body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    margin: 0px auto;
    text-align: center;
    background-color: $theme;
    font-family: 'Verdana','Garamond', sans-serif;
    color: $font;
}

pre.highlight {
    white-space: pre-wrap;
    color: white;
}

article p {
    text-align: justify;
}

a {
    color: $high_font;
    text-decoration: none;
    &:visited {
        color: $dark_theme;
    }

    &:hover {
        color: $highlight;
    }
}

.link {
    color: $high_font;
    vertical-align: middle;
    text-decoration: none;
    &:visited {
        color: $dark_theme;
    }

    &:hover {
        color: $highlight;
    }
}