.blog-content {
    list-style-type: none;
    text-decoration: none;
    text-align: justify;
    padding: 0px 10px;

    a.link {
        color: $dark_gray;
        &:hover {
            color: $white;
        }
    }

    .post-title {
        margin-bottom: 5px; 
    }

    .post-date {
        color: $medium_gray;
    }
}