.blog-content {
    list-style-type: none;
    text-decoration: none;
    text-align: justify;
    padding: 0px calc((100% - 768px)/2);

    a.link {
        color: $high_font;
        &:hover {
            color: $highlight;
        }
    }

    .post-title {
        margin-bottom: 5px; 
    }

    .post-date {
        color: $theme;
    }
}

.section {
    text-align: justify;
    padding: 10px calc((100% - 768px)/2);
}

.post-excrept {
    &:first-letter {
        font-weight: bold;
        font-size: 30px
    }
}