
$white: #ffffff;
$dark_theme: darken(rgb(19, 64, 100), 20%);
$theme: rgb(22, 135, 180);
$light_secondary: lighten(#282828, 40%);
$article_secondary:rgb(233, 232, 232);

$high_font: black;
$font: #282828;
$highlight: $white;