
footer {
    background-color: $theme;
    display: grid;

    hr {
        width: 25%;
        color: black;
    }

    span:last-child {
        padding-bottom: 15px;
        font-weight: bold;
    }

    .buffer-footer {
        height: 20px;
    }

    .link-bar {
        font-size: 20px;
    }
}

.fa.link {
    margin: 5px;
    &:hover {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
}