
footer {
    background-image: linear-gradient($crimson,90%, $light_red);
    display: grid;
    padding: 0px 15px 0px 0px;

    .buffer-footer {
        background-image: linear-gradient($light_red, $crimson);
        height: 20px;
    }
}

.fa.link {
    padding: 5px;
}