.navbar-logo
{
    font-weight: bold;
    color: $high-font;
    width: 25.5%;
    display: flex;
    align-content: space-around;
    font-size: 20px;

    .navbar-logo__marquee
    {
        height: 30px;
        margin: auto 0px;
        display: inline-block;
        & marquee div {
           display: flex;
           a {
               padding-left: 5px; 
           }
        }
    }
}

.navbar-table
{
    padding-right: 17%;
}

.buffer-header {
    background-color: $theme;
    min-height: 20px;
}

.navbar
{
    display: flex;
    flex-direction: row;
}

.navbar-link {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 80px;
    width: 100%;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
}

tr {
    display: flex;
}

table {
    border-spacing: 0px;
}

td {
    display: flex;
    justify-content: stretch;
    text-align: center;
    width: 100%;

    &:hover {
        background-color: $dark_theme;
    }
}
