


nav {
    background-color: $crimson;
}

table {
    width: 100%;
}

.main_block {
    display: flex;
    align-items: stretch;
    background-color: $light_red;
    article {
        margin: 0px auto;
        width: 60%;
        padding: 0px 3%;
        background-color: $article_red;
        text-align: center;
    }
}

.profile-photo {
    margin: 0px auto;
    text-align: center;
    padding: 15px 0px;
    img {
        max-width: 600px;
        height:auto;
    }
}

.photo {
    margin: 0px auto;
    text-align: center;
    padding: 15px 0px;
    img {
        max-width: 250px;
        height:auto;
    }
}

@import 'base.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'blog.scss'