


nav {
    background-color: $theme;
}

table {
    width: 100%;
}

.main_block {
    display: flex;
    align-items: stretch;
    background-color: $light_secondary;
    article {
        margin: 0px auto;
        width: 60%;
        padding: 0px 3%;
        background-color: $article_secondary;
        text-align: center;
    }
}

.profile-photo {
    margin: 0px auto;
    text-align: center;
    padding: 15px 0px;
    img {
        max-width: 600px;
        height:auto;
    }
}

.photo {
    margin: 0px auto;
    text-align: center;
    padding: 15px 0px;
    img {
        max-width: 400px;
        max-height: 300px;
        height:auto;
    }
}

@import 'base.scss';
@import 'syntax-highlighting.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'blog.scss';
