


nav {
    background-color: $theme;
}

table {
    width: 100%;
}

.main_block {
    display: flex;
    align-items: stretch;
    height: auto;
    background-color: $light_secondary;
    flex-grow: 1;
    justify-content: center;
    article {
        margin: 0px auto;
        width: 60%;
        padding: 0px 3%;
        background-color: $article_secondary;
        text-align: center;
    }
}

.profile-photo {
    margin: 0px auto;
    text-align: center;
    padding: 15px 0px;
    overflow: hidden;
    img {
        max-width: 600px;
        height:auto;
    }
    img.rounded {
        clip-path: circle(50% at 50% 50%);
        box-shadow: 15px;
    }
}

.photo {
    margin: 0px auto;
    text-align: center;
    padding: 15px 0px;
    img {
        max-width: 400px;
        max-height: 300px;
        height:auto;
    }
}

@import 'base.scss';
@import 'syntax-highlighting.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'fruity.scss';
@import 'blog.scss';
