<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149959889-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-149959889-1');
  </script>
  <meta charset="utf-8">
  <meta name="description" content="Blog Jan Taras Technology Rails React Python">
  <meta name="viewport" content="width=device-width, initial-scale=0.75">
  <meta name="keywords" content="Ruby,Ruby on Rails,JavaScript,Programmer,Software">
  <meta name="author" content="Jan Taras">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" >
  {% include contact_icons.html %}
  <title>{{ page.title }}</title>
</head>