<footer class='footer'>
    <span class="buffer-footer"></span>
    <span class="link-bar">
        <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}" class="fa fa-facebook link"></a>
        <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}" class="fa fa-twitter link"></a>
        <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="fa fa-linkedin link"></a>
        <a target="_blank" href="https://github.com/{{ site.github_username }}" class="fa fa-github link"></a>
    </span>
    <hr >
    <span>Copyright @ 2019 by Jan Taras</span>
</footer>
