<footer class='footer'>
    <span class="buffer-footer"></span>
    <span class="link-bar">
        <a aria-label="Twitter" rel="noreferrer" target="_blank" href="https://twitter.com/{{ site.twitter_username }}" class="fa fa-twitter link"></a>
        <a aria-label="LinkedIn" rel="noreferrer" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="fa fa-linkedin link"></a>
        <a aria-label="Github" rel="noreferrer" target="_blank" href="https://github.com/{{ site.github_username }}" class="fa fa-github link"></a>
        <a aria-label="Medium" rel="noreferrer" target="_blank" href="https://medium.com{{ site.medium_username }}" class="fa fa-medium link"></a>
        <a aria-label="Facebook" rel="noreferrer" target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}" class="fa fa-facebook link"></a>
    </span>
    <hr >
    <span>Copyright @ 2019 by Jan Taras</span>
</footer>
